{
  "dns": {
    "servers": [
      "8.8.8.8",
      "8.8.4.4"
    ]
  },

  "stats": {},

  "log": {
    "loglevel": "warning",
    "access": "/var/log/xray/access.log",
    "error": "/var/log/xray/error.log"
  },

  "api": {
    "tag": "api",
    "services": [
        "HandlerService",
        "LoggerService",
        "StatsService"
    ]
},

  "policy": {
    "levels": {
        "0": {
            "statsUserUplink": true,
            "statsUserDownlink": true
        }
    },
    "system": {
        "statsInboundUplink": true,
        "statsInboundDownlink": true,
        "statsOutboundUplink": true,
        "statsOutboundDownlink": true
    }
},



  "inbounds": [

  {
      "tag":"vmess",
      "listen": "0.0.0.0",
      "port": 6310,
      "protocol": "vmess",
      "streamSettings": {
                "network": "ws",
                "security": "none"
            },

      "settings": {
        "clients": [

          {
            "email":"public",
            "id": "ba671694-27f6-4ced-bacc-6843ab6cbe85",
            "alterId": 0,
            "security": "aes-128-gcm"
          },
          {
            "email":"public2",
            "id": "deb7cc88-c0df-4e47-a798-e7d9df387028",
            "alterId": 0,
            "security": "aes-128-gcm"
          }
        ]
      }
    },

  {
      "tag": "trojan",
      "listen": "0.0.0.0",
      "port": "5310",
      "protocol": "trojan",
      "settings": {
        "clients": [

          {
            "email":"public",
            "password": "ba671694-27f6-4ced-bacc-6843ab6cbe85"
          },
          {
            "email":"public2",
            "password": "deb7cc88-c0df-4e47-a798-e7d9df387028"
          }

        ]
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/tr-ws-IqYJAouF"
        }
      }
    },

  {
            "listen": "0.0.0.0",
            "port": 10085,
            "protocol": "dokodemo-door",
            "settings": {
                "address": "0.0.0.0"
            },
            "tag": "api"
        }
  ],

  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "freedom"
    }
  ],

  "routing": {
        "rules": [

            {
                "inboundTag": [
                    "api"
                ],
                "outboundTag": "api",
                "type": "field"
            }
        ],
        "domainStrategy": "IPIfNonMatch"
    }

}